/* Styles de la carte */
.region {
    transition: fill 0.2s ease;
}

.region:hover {
    fill-opacity: 0.8;
}

/* Style des lignes de frontières */
.region {
    stroke: #FFFFFF;
    stroke-width: 1;
} 